<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Messnote</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ static_url('css/freelancer.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ static_url('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        #github:hover{background-color: #FFEC8B;}
    </style>

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Messnote</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">热门</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">关于</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">联系我们</a>
                    </li>
                    {% if not boolean %}
                    <li>
                        <div class="btn-group">  
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">x-web<span class="caret"></span></a>  
                            <ul class="dropdown-menu">    
                            <!-- dropdown menu links -->
                                <li><a href="#">个人信息</a></li>
                                <li><a href="/logout">注销</a></li>
                                <li><a href="/notebook_list/{{ username }}">我的笔记本</a></li>
                            </ul>
                        </div>
                    </li>
                    {% end %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{{ static_url('img/profile.png') }}" alt="">
                    <div class="intro-text">
                        <span class="name">Start Messnote</span>
                        <hr class="star-light">
                        <span class="skills">
                            {% if boolean %}
                                <a class="btn btn-warning" href="./register">立即注册</a>
                                <a href="./login" class="btn btn-primary" style="margin-left:20px">登录</a>
                            {% else %}
                                <h4>{{username}}欢迎您 , {{date}}</h4>
                            {% end %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>热门笔记</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% if show_note %}
                    {% for note in show_note %}
                        <div class="col-sm-5 portfolio-item">
                            <h3><a href="/note/{{ note['noteid'] }}">{{ note['note_title'] }}</a></h3>
                            <span>{{note['username']}}</span>
                            <span class="pull-right"><i>{{note['create_date']}}</i></span>
                            <span class="pull-right">浏览次数:<span class="visits">{{int(note['visit'])}}</span></span>
                        </div>
                    {% end %}
                {% else %}
                <div class="col-sm-5 portfolio-item">
                    <h3><a href="#">title</a></h3>
                    <span>author</span>
                    <span class="pull-right"><i>2015-07-05</i></span>
                    <span class="pull-right">浏览次数:<span class="visits">13</span></span>           	
                </div>
                <div class="col-sm-5 portfolio-item">
                    <h3><a href="#">title</a></h3>
                    <span>author</span>
                    <span class="pull-right"><i>2015-07-05</i></span>
                    <span class="pull-right">浏览次数:<span class="visits">13</span></span>
                </div>
                <div class="col-sm-5 portfolio-item">
                    <h3><a href="#">title</a></h3>
                    <span>author</span>
                    <span class="pull-right"><i>2015-07-05</i></span>
                    <span class="pull-right">浏览次数:<span class="visits">13</span></span>
                </div>
                <div class="col-sm-5 portfolio-item">
                    <h3><a href="#">title</a></h3>
                    <span>author</span>
                    <span class="pull-right"><i>2015-07-05</i></span>
                    <span class="pull-right">浏览次数:<span class="visits">13</span></span>
                </div>
                <div class="col-sm-5 portfolio-item">
                    <h3><a href="#">title</a></h3>
                    <span>author</span>
                    <span class="pull-right"><i>2015-07-05</i></span>
                    <span class="pull-right">浏览次数:<span class="visits">13</span></span>
                </div>
                <div class="col-sm-5 portfolio-item">
                    <h3><a href="#">title</a></h3>
                    <span>author</span>
                    <span class="pull-right"><i>2015-07-05</i></span>
                    <span class="pull-right">浏览次数:<span class="visits">13</span></span>
                </div>
                {% end %}
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>关于</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                   	 	Nowadays, almost every web page has many redundant content that we are angry at.Therefore, we want to develop an application which can filter the content of web pages and save information we need. 
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                    	Because of the fragmentation of time and huge amount of information, we need a filter to delete the content that should be ignored, so we can get the useful information directly. Messnote is exactly the tool to help us.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top:40px">
                    <a href="https://github.com/x-web/webE" class="btn btn-lg btn-outline" id="github">
                        <img src="{{ static_url( 'img/blacktocat.png' )}}"> View on GitHub
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>联系我们</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form name="sentMessage" id="contactForm" action="/contactus" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>姓名</label>
                                <input type="text" class="form-control" placeholder="姓名" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>邮箱</label>
                                <input type="email" class="form-control" placeholder="邮箱" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>电话</label>
                                <input type="tel" class="form-control" placeholder="电话" id="phone" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>留言</label>
                                <textarea rows="5" class="form-control" placeholder="留言" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>位置</h3>
                        <p>Xi'an Shannxi<br>Xidian University</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>关注我</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://plus.google.com/105408082502864423588" class="btn-social btn-outline">
                                	<i class="fa fa-fw fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/b1ackdr3am" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/profile/view?id=426827978" class="btn-social btn-outline">
                                	<i class="fa fa-fw fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>关于项目</h3>
                        <p>基于Bootstrap<br/>使用了freelancer模板</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; 2015 <a href="https://x-web.github.io">X-web</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="{{ static_url( 'js/jquery.js' )}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ static_url('js/bootstrap.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ static_url('js/jquery.easing.min.js') }}"></script>
    <script src="{{ static_url('js/classie.js')}}"></script>
    <script src="{{ static_url('js/cbpAnimatedHeader.js') }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ static_url('js/jqBootstrapValidation.js')}}"></script>
    <script src="{{ static_url('js/contact_me.js')}}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ static_url('js/freelancer.js')}}"></script>

</body>

</html>
