<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Messnote - Notebook List</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ static_url('css/freelancer.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ static_url('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        section {width:50%; margin: 0 auto;padding-top: 200px;}
        section .notebook {color: #333;font-size: 20px;}
        
        section .notebook-list .notebook-item  {list-style: none;margin-top: 50px;border-bottom: 2px dashed #eee;padding: 5px 5px;}
        section .notebook-list .notebook-item div {margin: 0 0;}
        section .notebook-list .notebook-item div > span {font-size:25px;}
        section .notebook-list .notebook-item div > span a {color:#333;}
        section .notebook-list .notebook-item div > span a:hover {color:#777; text-decoration: none;}

        section > a {color:#333 !important;border: 1px solid #aaa !important;}
        section > a:hover {color:#333 !important;text-decoration: none;cursor: pointer;background-color: #ffe;font-weight: bold;}

        #notebook-des {margin: 30px 0;}
        #btn-create-notebook {margin-right: 20px;}

        .notebook-list .notebook-item span:last-child a {margin-right: 10px;font-size: 15px;}
        .notebook-list .notebook-item span:last-child a.delete {color:#FF3030 !important; display:none;}
        .notebook-list .notebook-item span:last-child a.delete:hover {color:#CD2626 !important;text-decoration: none !important;}
        .notebook-list .notebook-item span:last-child a.edit {color:#1E90FF !important; display:none;}
        .notebook-list .notebook-item span:last-child a.edit:hover {color:#104E8B !important;text-decoration: none !important;}           
    </style>

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Messnote</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/?#portfolio">热门</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/?#about">关于</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/?#contact">联系我们</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    
    <section>
        <span class="notebook"><em>{{ username }}的笔记本</em></span>
        <a class="btn pull-right" href="#create-notebook" data-toggle="modal">+添加笔记本</a>
        <div class="notebook-list">
            {% if notebooks %}
                {% for notebook in notebooks %}
                    <div class="notebook-item">
                        <div class="row">
                            <span><a href="/notebook_list/{{ userid }}">{{ note['username'] }}</a></span>
                            <em class="pull-right">{{notebook['create_date']}}</em>
                            <span>
                                <a href="/notebook/delete/" class="delete pull-right">删除</a>
                                <a href="/notebook/update/" class="edit pull-right">编辑</a>
                            </span>
                        </div>
                    </div>
                {% end %}
            {% end %}
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; 2015 <a href="https://x-web.github.io">X-web</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

     <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="create-notebook" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>创建笔记本</h2>
                            <hr class="star-primary">
                            
                            <form id="notebook-form">
                                <div class="controls">
                                    <label>笔记本名称</label>
                                    <input type="text" class="input-xlarge" id="notebook-name"/>
                                </div>
                                <div class="controls">
                                    <label>笔记本描述</label>
                                    <input type="text" class="input-xlarge" id="notebook-des"/>
                                </div>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn-create-notebook">创建</button>
                                <button type="button" class="btn" data-dismiss="modal"><i class="fa fa-times"></i> 关闭</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   

    <!-- jQuery -->
    <script src="{{ static_url( 'js/jquery.js' )}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ static_url('js/bootstrap.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ static_url('js/jquery.easing.min.js') }}"></script>
    <script src="{{ static_url('js/classie.js')}}"></script>
    <script src="{{ static_url('js/cbpAnimatedHeader.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ static_url('js/freelancer.js')}}"></script>

    <script type="text/javascript">
        $(function(){
            $("#notebook-form").submit(function(){
                var name = $("#notebook-name").val();
                var des = $("#notebook-des").val();

                if(name === ''){
                    alert("笔记本名称不能为空！");
                    return false;
                }

                $.ajax({
                    url: "/notebook/create/{{username}}",
                    type : 'POST',
                    dataType: "json",
                    data: {
                        "notebook_name" : name,
                        "notebook_description" : des
                    },
                    success: function(){
                        alert("创建成功！");
                        setTimeout('window.location = "/notebook_list/{{ userid }}"', 1000);
                    },
                    error: function(){
                        alert("创建失败！");
                    }
                })

                return false;
            })

            $("#btn-create-notebook").click(function(){
                $("#notebook-form").submit();
            })

            $("div.notebook-item", "div.notebook-list").hover(function(){
                $(this).find("a.delete, a.edit").show();
            }, function(){
                $(this).find("a.delete, a.edit").hide();
            })

            $("a.delete","div.notebook-item").click(function(){
                if(confirm("是否真的删除？")){
                    //console.log($(this).attr("href"))
                    window.location = $(this).attr('href');
                }else{
                    //console.log("取消删除");
                    return false;
                }
            })            
        })
    </script>
</body>

</html>
